{% include 'head.twig' %}
{% include 'headNavi.twig' %}
<div class="contentBox">
  <div class="content">

    {% if app.request.message is defined %}
      <div class="alert alert-info" role="alert">{{ app.request.message }}</div>
    {% endif %}
    <form action=""
          method="POST">

      <div class="row">
        <div class="col-xs-6 col-md-6">
          <h2>Pagetype</h2>
          {% if app.type is defined %}
            {% for type, key  in app.type %}
              {% if key == true %}
                {% set checked = 'checked="checked"' %}
              {% else %}
                {% set checked = '' %}
              {% endif %}
              <label class="radio"
                     for="pagetype_{{ type }}">
                <input type="radio"
                       value="{{ type }}"
                       name="type"
                  {{ checked }}
                       id="pagetype_{{ type }}"/> {{ type }}
              </label>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-xs-6 col-md-6">
          <h2>Screenshot Settings </h2>
          {% if app.screenshots is defined %}
            {% for screen, key  in app.screenshots %}
              {% if key == true %}
                {% set checked = 'checked="checked"' %}
              {% else %}
                {% set checked = '' %}
              {% endif %}
              <label class="radio"
                     for="screenshot_{{ screen }}">
                <input type="radio"
                       value="{{ screen }}"
                       name="screenshot"
                  {{ checked }}
                       id="screenshot_{{ screen }}"/>{{ screen }}
              </label>

            {% endfor %}
          {% endif %}
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-6 col-md-6">
          <h2>Remote origin </h2>
          <div class="form-group">
            <label for="origin">origin url</label>
            <input class="form-control" id="origin" name="originurl" value="{{ app.request.originUrl }}" placeholder="origin url">
          </div>
        </div>
      </div>
      <br/> -->
      {% if app.browser is defined %}
        <h2>Browser Settings</h2>
        {% for browser  in app.browser %}
          {% if browser.url is defined and browser.url != '' %}
            {% set url = browser.url %}
            {% set lighten = '' %}
          {% else %}
            {% set url = '' %}
            {% set lighten = 'class=lighten' %}
          {% endif %}
          {% if browser.active is defined and browser.active == true %}
            {% set checked = 'checked="checked"' %}
          {% else %}
            {% set checked = '' %}
          {% endif %}

          {% if browser.browserName is defined %}
            <label class="checkbox"
                   for="{{ browser.platform }}{{ browser.browserName }}{{ browser.version }}">
              <input type="checkbox"
                     value="{{ browser.platform }}{{ browser.browserName }}{{ browser.version }}"
                     name="active[]{{ browser.platform }}{{ browser.browserName }}{{ browser.version }}"
                {{ checked }}
                     id="{{ browser.browserName }}"/>{{ browser.platform }} {{ browser.browserName }} {{ browser.version }}
            </label>
          {% else %}
            <label class="checkbox"
                   for="{{ browser.name }}_{{ browser.browser }}">
              <input type="checkbox"
                     value="{{ browser.name }}_{{ browser.browser }}"
                     name="active[]{{ browser.name }}_{{ browser.browser }}"
                {{ checked }}
                     id="{{ browser.name }}_{{ browser.browser }}"/>{{ browser.name }} ({{ browser.browser }})
            </label>
          {% endif %}

          <div class="input-group">
            <div class="input-group-addon"><span class="fa fa-link collored"></span></div>
            {% if browser.browserName is defined %}
              <input type="text"
                     value="{{ url }}"
                     placeholder="Baseurl"
                     class="form-control input-sm"
                     name="browser[{{ browser.platform }}{{ browser.browserName }}{{ browser.version }}]{{ browser.platform }}{{ browser.browserName }}{{ browser.version }}Url"/>
            {% else %}
              <input type="text"
                     value="{{ url }}"
                     placeholder="Baseurl"
                     class="form-control input-sm"
                     name="browser[{{ browser.name }}_{{ browser.browser }}]{{ browser.name }}Url"/>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
      <br/>
      <br/>
      <input type="submit"
             name="action"
             value="save"
             class="btn btn-primary"/>

      <a href="{{ app.request.baseUrl }}/{{ app.request.path }}"
         class="backLink btn">Zurück</a>
    </form>
  </div>
</div>


{% include 'footer.twig' %}

