{% include 'head.twig' %}

<form action=""
      method="POST">
  {% if app.browser is defined %}
    {% for browser  in app.browser %}
      <label>Baseurl for {{ browser.browserName }}</label>
      <input type="text" value="" name="{{ browser.browserName }}Url"/>
      <br/>
      <label>{{ browser.browserName }}</label>
      {% if browser.active is defined and browser.active == true %}
        <input type="checkbox"
               value="{{ browser.browserName }}"
               name="{{ browser.browserName }}"
               checked="checked"/>
      {% else %}
        <input type="checkbox"
               value="{{ browser.browserName }}"
               name="{{ browser.browserName }}"/>
      {% endif %}

      <br/>
    {% endfor %}
  {% endif %}
  <br/>
  {% if app.type is defined %}
    {% for type, key  in app.type %}
      <lable>{{ type }}</lable>
      {% if  key == true %}
        <input type="radio"
               value="{{ type }}"
               name="type"
               checked="checked"/>
      {% else %}
        <input type="radio"
               value="{{ type }}"
               name="type"/>
      {% endif %}
    {% endfor %}
  {% endif %}
  <br/>

  <input type="submit"
         name="action"
         value="save"/>

</form>


{% include 'footer.twig' %}

