{% include 'head.twig' %}
<div class="contentBox">
<div class="content">
  {% if app.request.message is defined %}
    <p>{{ app.request.message }}</p>

    <a href="{{ app.request.baseUrl }}/{{ app.request.path }}"
       class="backLink  btn-link">Zurück</a>
  {% else %}

    <form action=""
          method="POST">
        Are you sure that you want to copy?
      <br/>
      <br/>
      <input type="submit"
             value="Ja"
             name="copy"
             class="btn btn-primary btn-action"/>
      <a href="{{ app.request.baseUrl }}/{{ app.request.path }}"
         class="backLink btn  btn-link">Abbrechen</a>
    </form>
  {% endif %}
</div>
</div>
{% include 'footer.twig' %}
