{% include 'head.twig' %}
<div class="contentBox">
<div class="content">
  {% if app.request.message is defined %}
    <p>{{ app.request.message}}</p>
    <a href="{{ app.request.baseUrl }}/screenshot/{{ app.request.path }}"
       class="backLink btn">Zurück</a>
  {% else %}

    <form action=""
          method="POST">
        Are you sure that you want to delete?
      <br/>
      <br/>
      <input type="submit"
             value="Ja"
             name="delete"
             class="btn btn-primary btn-action"/>
      <a href="{{ app.request.baseUrl }}/screenshot/{{ app.request.path }}"
         class="backLink btn btn-link">Zurück</a>
    </form>
  {% endif %}
</div>
</div>

{% include 'footer.twig' %}
