{% include 'head.twig' %}
{% include 'headNavi.twig' %}
<div class="contentBox">
  <div class="content">


    {% if app.request.settings is defined %}



      <form action=""
            method="POST">

        <div class="input-group">
          <div>
            <label class=""
                   for="appPath"> app Path
              <input type="text"
                     class="form-control input-sm"
                     placeholder="App Path"
                     aria-describedby="basic-addon2"
                     value="{{ app.request.settings.appPath }}"
                     name="appPath"
                     aria-label="FOOOO"
                     id="appPath"
                >
            </label>
          </div>
          <div>
            <label class=""
                   for="selAddr"> Selenium Hub <sub>Example: http://xxx.xxx.xxx.xxx:4444</sub>
              <input type="text"
                     class="form-control input-sm"
                     placeholder="Selenium Hub:"
                     aria-describedby="basic-addon2"
                     value="{{ app.request.settings.seleniumAddress }}"
                     name="seleniumAddress"
                     id="selAddr"
                >
            </label>
          </div>


          <select class="form-control input-sm" name="theme">
            {% for theme in app.request.themes %}
              {% if app.request.settings.theme is defined and app.request.settings.theme == theme %}
                {% set selected = 'selected="selected"' %}
              {% else %}
                {% set selected = '' %}
              {% endif %}
              <option value="{{ theme }}" {{ selected }}>{{ theme }}</option>
            {% endfor %}
          </select>
          <br/>
          <br/>

          <input type="submit"
                 name="action"
                 value="save"
                 class="btn btn-primary"/>

          <a href="{{ app.request.baseUrl }}"
             class="btn-link btn">Zurück</a>
        </div>

        <input type="hidden"
               name="save"
               value="config"/>

      </form>

      <h3>Profile</h3>
      <button name="profile" class="btn btn-primary" id="addProfile">Add Profile</button>
      <div style="display: none;" id="addProfile-form">
        <form class="form-inline" action=""
              method="POST">
          <div class="form-group">
            <label for="profileName">Profile Name</label>
            <input type="profileName" name="profileName" class="form-control" id="profileName"
                   placeholder="profileName">

            <label for="browser">Browser</label>
            <select name="browsers" class="form-control" id="browsers">
              <option>&nbsp;</option>
              {% for profile in app.request.profiles.grid %}
                <option name="{{ profile.browserName }}">{{ profile.browserName }}</option>
              {% endfor %}
            </select>

          </div>
          <div class="form-group" id="devices" style="display: none;">
            <label for="device">Device</label>
            <select name="device" class="form-control">
              <option>&nbsp;</option>
              {% for key, lable  in app.request.devices %}
                <option name="{{ key }}">{{ lable }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group" id="dimension" style="display: none;">
            <label for="width">width</label>
            <input type="width" class="form-control" id="width" name="width" placeholder="width">

            <label for="height">height</label>
            <input type="height" class="form-control" id="height" name="height" placeholder="height">
          </div>
          <input type="submit"
                 name="action"
                 value="save"
                 class="btn btn-primary"/>

          <input type="hidden"
                 name="save"
                 value="profile"/>

        </form>
      </div>

      {% for profile in app.request.profiles.all %}

        <div class="panel panel-default">
          {% if profile.browserName is defined %}
            <div class="panel-heading">{{ profile.browserName }}</div>
          {% else %}
            <div class="panel-heading">{{ profile.name }} ({{ profile.browser }})
              <a class="deleteProfile" data-action="delete"
                 href="{{ app.request.baseUrl }}/globalconfig/deleteProfile/{{ profile.name|url_encode }}">
                    <span class="delete glyphicon glyphicon-remove-sign"
                          data-link="{{ app.request.baseUrl }}/globalconfig/deleteProfile/{{ profile.name|url_encode }}">
                    </span>
              </a>
              <a class="editProfile" data-action="edit"
                 href="{{ app.request.baseUrl }}/globalconfig/editProfile/{{ profile.name|url_encode }}">
                    <span class="delete glyphicon glyphicon-edit"
                          data-link="{{ app.request.baseUrl }}/globalconfig/editProfile/{{ profile.name|url_encode }}">
                    </span>
              </a>
            </div>
          {% endif %}
          <div class="panel-body">
            <ul>
              {% if profile.capabilities is defined and profile.capabilities != '' %}
                <li>{{ profile.capabilities }}</li>
              {% endif %}
              {% if profile.arguments is defined and profile.arguments != '' %}
                <li>{{ profile.arguments }}</li>
              {% endif %}
              {% if profile.driverOptions is defined and profile.driverOptions != '' %}
                <li>{{ profile.driverOptions }}</li>
              {% endif %}
            </ul>
          </div>
        </div>
      {% endfor %}
    {% else %}
      {% if app.request.message is defined %}
        <p>{{ app.request.message }}</p>
        <a href="{{ app.request.baseUrl }}/globalconfig"
           class="backLink btn">Zurück</a>
      {% else %}
        <form action=""
              method="POST">
          Are you sure that you want delete the profile <strong>{{ app.request.profileName }}</strong>?
          <br/>
          <br/>
          <input type="submit"
                 value="Ja"
                 name="delete" class="btn btn-primary btn-action"/>
          <a href="{{ app.request.baseUrl }}/globalconfig" class="backLink btn btn-link">Zurück</a>
        </form>
      {% endif %}
    {% endif %}
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {

    $('#addProfile').click(function() {
      $('#addProfile-form').slideDown();
    })

    $('#browsers').change(function () {
      if ($('#browsers').val() == "chrome") {
        $('#devices').show();
        $('#dimension').show();
      } else {
        $('#dimension').show();
        $('#devices').hide();
      }
    })

    $('#devices select').change(function () {
      $('#dimension').hide();
      if ($('#devices select').val() == '') {
        $('#dimension').show();
      }
    })

    $('#width').blur(function () {
      $('#devices').hide();
      if ($('#width').val() == '' && $('#height').val() == "") {
        $('#devices').show();
      }
    })

    $('#height').blur(function () {
      $('#devices').hide();
      if ($('#width').val() == '' && $('#height').val() == "") {
        $('#devices').show();
      }
    })

    $("a[data-action='delete']").click(function (e) {
      e.preventDefault();
      var href = $(this).attr('href');
      modalHandling(href, "Delete Profile", '');
    });

  })


  function modalHandling(href, modalTitle, ending) {

    $.ajax({
      method: "get",
      url: href
    }).done(function (data) {
      $('.modal-title').empty().append(modalTitle);
      $('.modal-body').empty().append($(data).find('.content'));
      $('#myModal').modal('show');

      $('.backLink').click(function (ev) {
        ev.preventDefault();
        $('#myModal').modal('hide');
      });

      $('.btn-action').click(function (ev) {
        ev.preventDefault();

        $.ajax({
          method: "post",
          url: href + ending
        }).done(function (data) {
          $('.modal-body').empty().append($(data).find('.content'));
        });
      });
    });
  }


</script>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->

{% include 'footer.twig' %}
