

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="">
    {% if app.crumb is defined %}
      <ol class="breadcrumb">
        <li>
          <a href="{{ app.request.baseUrl }}/">root</a>
        </li>
        {% for crumbie, key in app.crumb %}
          <li>
            <a href="{{ app.request.baseUrl }}/{{ key }}">{{ crumbie }}</a>
          </li>
        {% endfor %}
      </ol>
    {% else %}
      <ol class="breadcrumb">
        <li>
          <a href="{{ app.request.baseUrl }}/">root</a>
        </li>
      </ol>
    {% endif %}
    {% block fancyNavBox %}
      {% if app.request.path is not defined or app.request.path == '' %}
        <div class="">
          <ul class="nav navbar-nav">
            {% if app.request.mode == 'show' %}
              {% if app.request.content %}
                <li>
                  <a href="{{ app.request.baseUrl }}/edit/{{ app.request.path }}"
                     data-action="add"
                     data-path="{{ app.request.path }}">Edit</a>
                </li>

                <li>
                  <a href="{{ app.request.baseUrl }}/globalconfig"
                     data-action="config"
                     data-path="{{ app.request.path }}">Config</a>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      {% else %}


        <div class="fancyNavBox">

          <ul class="nav navbar-nav">
            {% if app.request.mode is defined and app.request.mode == 'show' %}
              {% if app.request.content %}
                {% if app.request.type is defined and (app.request.type != 'static' and app.request.type != 'none' and app.request.type != '') %}
                  <li class="dropdown">
                      {% if app.request.type is defined and (app.request.type == 'suite' or app.request.type == 'project') %}
                        {% set parameter = 'suite=true' %}
                        {% set lable = 'All Browser' %}
                      {% else %}
                        {% set parameter = '' %}
                        {% set lable = 'All Browser' %}
                      {% endif %}

                               <a href="#" data-action="run"
                   data-path="{{ app.request.path }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Run <span class="caret"></span></a>
                
                    {% if app.request.browsers is defined %}
                      <ul class="dropdown-menu">
                        <li>
                          <a href="{{ app.request.baseUrl }}/run/{{ app.request.path }}?browser={{ parameter }}"
                             data-action="run"
                             data-path="{{ app.request.path }}" id="runAll">{{ lable }}</a>
                        </li>
                        {% for browser in app.request.browsers %}
                          <li>
                            <a href="{{ app.request.baseUrl }}/run/{{ app.request.path }}?browser={{ browser.browserName }}&platform={{ browser.platform }}&version={{ browser.version }}&{{ parameter }}"
                               data-path="{{ app.request.path }}"
                               data-browser="{{ browser.browserName }}"
                               class="run-test">{{ browser.browserName }} {{ browser.version }} <span class="label label-default">{{ browser.platform }}</span></a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endif %}
                <li>
                  <a href="{{ app.request.baseUrl }}/edit/{{ app.request.path }}"
                     data-action="add"
                     data-path="{{ app.request.path }}">Edit</a>
                </li>
                <li>
                  <a href="{{ app.request.baseUrl }}/delete/{{ app.request.path }}"
                     data-action="delete"
                     data-path="{{ app.request.path }}">Delete</a>
                </li>
                <li>
                  <a href="{{ app.request.baseUrl }}/config/{{ app.request.path }}"
                     data-action="config"
                     data-path="{{ app.request.path }}">Config</a>
                </li>
                <li>
                  <a href="{{ app.request.baseUrl }}/edit/{{ app.request.path }}/rename/"
                     data-action="rename"
                     data-path="{{ app.request.path }}">Rename</a>
                </li>

                {% if app.request.type is defined and (app.request.type == 'suite' or app.request.type == 'project') %}
                  <li>
                    <a href="{{ app.request.baseUrl }}/import/{{ app.request.path }}"
                       data-action="import"
                       data-path="{{ app.request.path }}">Import</a>
                  </li>
                {% endif %}

              {% else %}
                {% if app.request.type is not defined or app.request.type is null %}
                  <li>
                    <a href="{{ app.request.baseUrl }}/edit/{{ app.request.path }}"
                       data-action="add"
                       data-path="{{ app.request.path }}">Add Page</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endif %}
            {% if app.request.lastResult is defined %}
              <li>
                <a href="{{ app.request.baseUrl }}/history/{{ app.request.path }}"
                   data-action="add"
                   data-path="{{ app.request.path }}">history</a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    {% endblock %}
  </div>
</nav>




