<html>
<head>
  <link rel="stylesheet"
        type="text/css"
        href="{{ app.request.baseUrl }}/css/style.css"/>
  <script type="text/javascript">
    var baseUrl = '{{ app.request.baseUrl }}';
  </script>
  <script src="{{ app.request.baseUrl }}/js/jquery-2.1.3.js"></script>
  <script src="{{ app.request.baseUrl }}/js/custom.js"></script>
</head>
<body>

<div class="fancyNavBox">
  <ul class="fancyNav">
    {% if app.request.mode == 'show' %}
      {% if app.request.content %}
        <li>
          {% if app.request.type is defined and (app.request.type == 'suite' or app.request.type == 'project') %}
            <a href="{{ app.request.baseUrl }}/run/{{ app.request.path }}?suite=true"
               data-action="run"
               data-path="{{ app.request.path }}">Run Suite</a>
            {% if app.request.browsers is defined %}
              <ul>
                {% for browser in app.request.browsers %}
                  <li>
                    <a href="{{ app.request.baseUrl }}/run/{{ app.request.path }}?suite=true&browser={{ browser.browserName }}"
                       data-path="{{ app.request.path }}"
                       data-browser="{{ browser.browserName }}"
                       class="run-test">{{ browser.browserName }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% else %}
            <a href="{{ app.request.baseUrl }}/run/{{ app.request.path }}"
               data-action="run"
               data-path="{{ app.request.path }}">Run Test</a>
            {% if app.request.browsers is defined %}
              <ul>
                {% for browser in app.request.browsers %}
                  <li>
                    <a href="{{ app.request.baseUrl }}/run/{{ app.request.path }}?browser={{ browser.browserName }}"
                       data-path="{{ app.request.path }}"
                       data-browser="{{ browser.browserName }}"
                       class="run-test">{{ browser.browserName }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}

        </li>
        <li>
          <a href="{{ app.request.baseUrl }}/edit/{{ app.request.path }}"
             data-action="add"
             data-path="{{ app.request.path }}">Edit</a>
        </li>
        <li>
          <a href="{{ app.request.baseUrl }}/delete/{{ app.request.path }}"
             data-action="delete"
             data-path="{{ app.request.path }}">Delete</a>
        </li>
        <li>
          <a href="{{ app.request.baseUrl }}/config/{{ app.request.path }}"
             data-action="config"
             data-path="{{ app.request.path }}">Config</a>
        </li>
      {% else %}
        {% if app.request.type is null %}
          <li>
            <a href="{{ app.request.baseUrl }}/edit/{{ app.request.path }}"
               data-action="add"
               data-path="{{ app.request.path }}">Add Page</a>
          </li>
        {% endif %}
      {% endif %}
    {% endif %}
  </ul>
</div>



{% if app.crumb is defined %}
<div id="crumbs">
  <ul class="crumb">
    <li>
      <a href="{{ app.request.baseUrl }}/">root</a>
    </li>
    {% for crumbie, key in app.crumb %}
      <li>
        <a href="{{ app.request.baseUrl }}/{{ key }}">{{ crumbie }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}