{% include 'head.twig' %}
{% include 'headNavi.twig' %}

<div class="contentBox">

  <div>
    <a class="btn btn-primary" href="?delete=true&all=true">Delete history</a>
    {% for browser, resultList in app.request.history %}

      <div class="history">
        <div class="page-header">
          <h4>{{ browser }}

            <a class="btn btn-primary btn-sm" href="?delete=true&browser={{ browser }}">Delete browser history</a>
            <a class="btn btn-primary btn-sm" href="?delete=true&count=10&browser={{ browser }}">Delete browser first 10 results</a>
          </h4>
        </div>


        {% for date, hourResult in resultList %}
          <div class="panel panel-default">


            <div class="panel-heading">{{ date }}</div>      
            <div class="panel-body">
              {% for hour, realResult in hourResult %}
                {% if realResult.result == '1' %}
                  {% set class = 'bg-success' %}
                {% else %}
                  {% set class = 'bg-danger' %}
                {% endif %}

                <div class="hour {{ class }}">{{ hour }}</div>
                <div class="historyResult" >

                  <table class="table table-bordered">
                  {% for result in realResult.run %}
                    {% if result.0  == true %}
                      {% set class = 'bg-success' %}
                    {% else %}
                      {% set class = 'bg-danger' %}
                    {% endif %}
                    <tr class="{{ class }}">
                      <td>Command</td>
                      <td>{{  result.2}}</td>
                      <td>{{  result.1}}</td>
                    </tr>
                  {% endfor %}
                  </table>
                </div>
              {% endfor %}    
            </div>
          </div>
        {% endfor %}  
      </div>
    {% endfor %}  
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.history .historyResult').hide();
    $('.hour').click(function () {
      console.log($(this).next('table'));
      if ($(this).next('.historyResult').is(':visible')) {
        $(this).next().slideUp('slow');
      } else {
        $(this).next().slideDown('slow');
      }
    })
  });
</script>

{% include 'footer.twig' %}
