{% include 'head.twig' %}
{% include 'headNavi.twig' %}

<div class="row">
  <div class="col-xs-3 col-md-2">
    {{ app.menu|raw }}
  </div>
  <div class="col-xs-6 col-md-8">
    <div class="content">
      {{ app.request.content|raw }}
    </div>
  </div>
  <div class="col-xs-3 col-md-2">

    {% if app.request.lastResult|length  > 0 %}
      <div class="suiteResult">
        <div class="panel">
          <div class="panel-heading"><h3>Browser Results</h3></div>
          <div class="panel-body">
            {% for key, val  in app.request.lastResult %}
              <h4>{{ key }}</h4>
              {% for key, run in val.run %}
                {% if val.result[key] == true %}
                  {% set pathclass = 'panel-success' %}
                {% else %}
                  {% set pathclass = 'panel-danger' %}
                {% endif %}
                <div class="panel {{ pathclass }}">
                  <div class="panel-heading"><a
                      href="{{ app.request.baseUrl }}/{{ val.path[key] }}">{{ val.path[key] }}</a></div>
                  <div class="panel-body">
                    <ul class="list-group">
                      {% for step in run %}
                        {% if step.0 == true %}
                          {% set class = 'list-group-item-success' %}
                        {% else %}
                          {% set class = 'list-group-item-danger' %}
                        {% endif %}
                        <li class="{{ class }} list-group-item">
                          {{ step.1 }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    <div class="pulsarbox">
    </div>
    <div class="result">
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.resultBtn a').click(function (e) {
      e.preventDefault();
    });

    $('.resultBtn').on('click', function () {
      if ($('.lastResultRun:visible').length == 0) {
        $(this).next().show('slow');
      } else {
        $(this).next().hide('slow');
      }
    });

    $('.panel-heading').on('click', function () {
      if ($(this).next(':visible').length == 0) {
        $(this).next().slideDown('slow');
      } else {
        $(this).next().slideUp('slow');
      }
    });
    $('table').addClass('table table-bordered');

  });

  function poll() {
    $.ajax({
      url: "{{ app.request.baseUrl }}/polling.php",
      type: "GET",
      data: {
        path:'{{ app.request.path }}'
      },
      dataType: "json",
      success: function(data) {
        $(".result").empty();


        var content ='<h4>'+data[0]+'</h4>';
         content +='<table>';
        for(var i = 0; i < data[1].length; i++) {
          var style = "";
          if(data[1][i][0] == true) {
            var style = "success";
          } else {
            var style = "danger";
          }
          content +='<tr class="'+style+'">';
          content += '<td>' + data[1][i][1] + '</td>';
          content += '<td>' + data[1][i][2] + '</td>';
          content +='</tr>';
        }
        content +='</table>';
        console.log(content);

        $(".result").append(content);
      },
      complete: setTimeout(function() {poll()}, 5000),
      timeout: 2000
    })
  }

</script>

{% include 'footer.twig' %}
