{% include 'head.twig' %}
  {% include 'headNavi.twig' %}

  

<div class="contentBox">
  {% if app.request.lastResult is defined %}
    <div class="lastResult">
      {% for key, val  in app.request.lastResult %}

          {% if val.result == 'true' %}
          {% set class = 'success' %}
        {% else %}
          {% set class = 'fail' %}
        {% endif %}
        <div>
          <span class="{{ class }} resultBtn"><a href="#{{ key }}"> {{ key }}</a></span>
          <div class="lastResultRun {{ class }}">
              <table>
            {% for line in val.run %}
                {{line|raw}}
            {% endfor %}
            </table>
          </div> 
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="toc">
    {{ app.menu|raw }}
  </div>

  <div class="content">
    {{ app.request.content|raw }}
  </div>
  <div class="screens">
    {% if app.request.images is defined %}
      {% for key, val  in app.request.images %}

        <h4 id="{{ key }}">{{ key }}</h4>
        {% for image in val.src %}
          <div class="compare">
            <div class="image">
              <a href="{{ app.request.imagePath }}/{{ key }}/src/{{ image }}">
                <img src="{{ app.request.imagePath }}/{{ key }}/src/{{ image }}"/>
              </a>

              <span class="ops">
                <span class="desc">
                  {{ image }}
                </span>
                  <a href="{{ app.request.baseUrl }}/image/copy/{{ key }}/{{ image }}/{{ app.request.path }}">
                    <span class="copy fa fa-check-circle"
                          data-link="{{ app.request.baseUrl }}/image/copy/{{ key }}/{{ image }}/{{ app.request.path }}">
                    </span>
                  </a>
                <a href="{{ app.request.baseUrl }}/image/delete/src/{{ key }}/{{ image }}/{{ app.request.path }}">
                  <span class="delete fa fa-times-circle"
                        data-link="{{ app.request.baseUrl }}/image/delete/src/{{ key }}/{{ image }}/{{ app.request.path }}">
                  </span>
                </a>
              </span>

            </div>

            <div class="image">
              <a href="{{ app.request.imagePath }}/{{ key }}/ref/{{ image }}">
                <img src="{{ app.request.imagePath }}/{{ key }}/ref/{{ image }}"/></a>
              <span class="ops">
                <span class="desc">
                    {{ image }}
                </span>
                <a href="{{ app.request.baseUrl }}/image/delete/ref/{{ key }}/{{ image }}/{{ app.request.path }}">
                  <span class="delete fa fa-times-circle"
                        data-link="{{ app.request.baseUrl }}/image/delete/ref/{{ key }}/{{ image }}/{{ app.request.path }}">
                  </span>
                </a>
              </span>
            </div>

            <div class="image">
              <a href="{{ app.request.imagePath }}/{{ key }}/comp/{{ image }}">
                <img src="{{ app.request.imagePath }}/{{ key }}/comp/{{ image }}"/></a>
              <span class="ops">
                <span class="desc">
                  {{ image }}
                </span>
                <a href="{{ app.request.baseUrl }}/image/delete/comp/{{ key }}/{{ image }}/{{ app.request.path }}">
                  <span class="delete fa fa-times-circle"
                        data-link="{{ app.request.baseUrl }}/image/delete/comp/{{ key }}/{{ image }}/{{ app.request.path }}">
                  </span>
                </a>
              </span>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="pulsarbox">
  </div>
  <div class="result">
  </div>
</div>
  
  <script type="text/javascript">
    $(document).ready(function () {
    $('resultBtn a').click(function (e) {
        e.preventDefault();
    });
        
    $('.resultBtn').on('click', function () {
      if($('.lastResultRun:visible').length == 0) {
        $('.lastResultRun').show('slow');
      } else {
        $('.lastResultRun').hide('slow');
          
      }
        
    });
        
    }); 
      
  </script>

{% include 'footer.twig' %}
