{% include 'head.twig' %}
<div class="content">
  {{ app.request.content|raw }}
</div>

<div class="screens">
  {% if app.request.images is defined %}
    <table class="images">
      {% for key, val  in app.request.images %}
        <tr>
          <th class="headline" colspan="3">{{ key }}</th>
        </tr>
        {% for image in val.src %}
          <tr>
            <th class="subline" colspan="3">{{ image }}</th>
          </tr>
          <tr>
            <td><img src="{{ app.request.imagePath }}/{{ key }}/src/{{ image }}"/></td>
            <td><img src="{{ app.request.imagePath }}/{{ key }}/ref/{{ image }}"/></td>
            <td><img src="{{ app.request.imagePath }}/{{ key }}/comp/{{ image }}"/></td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  {% endif %}
</div>

{% include 'footer.twig' %}
