{% include 'head.twig' %}
<div class="contentBox">
  <div class="content">
    {{ app.menu|raw }}

    {{ app.request.content|raw }}
  </div>
  <div class="screens">
    {% if app.request.images is defined %}
      {% for key, val  in app.request.images %}
        {% for image in val.src %}
          <div class="compare">
            <h4>{{ key }}</h4>

            <div class="image">
              <a href="{{ app.request.imagePath }}/{{ key }}/src/{{ image }}">
                <img src="{{ app.request.imagePath }}/{{ key }}/src/{{ image }}"/>
              </a>

              <span class="ops">
                <span class="desc">
                  {{ image }}
                </span>
                <span class="copy fa fa-check-circle"
                     data-link="{{ app.request.baseUrl }}/image/copy/src/{{ key }}/{{ image }}/{{ app.request.path }}"></span>
                <span class="delete fa fa-times-circle"
                      data-link="{{ app.request.baseUrl }}/image/delete/src/{{ key }}/{{ image }}/{{ app.request.path }}">
                </span>
              </span>
            </div>

            <div class="image">
              <a href="{{ app.request.imagePath }}/{{ key }}/ref/{{ image }}">
                <img src="{{ app.request.imagePath }}/{{ key }}/ref/{{ image }}"/></a>
              <span class="ops">
                <span class="desc">
                    {{ image }}
                </span>
                <span class="delete fa fa-times-circle"
                      data-link="{{ app.request.baseUrl }}/image/delete/ref/{{ key }}/{{ image }}/{{ app.request.path }}">
                </span>
              </span>
            </div>

            <div class="image">
              <a href="{{ app.request.imagePath }}/{{ key }}/comp/{{ image }}">
                <img src="{{ app.request.imagePath }}/{{ key }}/comp/{{ image }}"/></a>
              <span class="ops">
                <span class="desc">
                  {{ image }}
                </span>
                <span class="delete fa fa-times-circle"
                      data-link="{{ app.request.baseUrl }}/image/delete/comp/{{ key }}/{{ image }}/{{ app.request.path }}">
                </span>
              </span>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="pulsarbox">
  </div>
  <div class="result">
  </div>
</div>

{% include 'footer.twig' %}
