{% include 'head.twig' %}
<div class="content">
  {{ app.request.content|raw }}
</div>

<div class="screens">
  {% if app.request.images is defined %}
    <table>
    {% for key, val  in app.request.images %}
      <tr>
        <th>{{ key }}</th>
      </tr>
        {% for image in val.src %}
          <tr>
          <td><img src="{{ app.request.imagePath}}/{{ key }}/src/{{ image }}" width="30%"/></td>
        <td><img src="{{ app.request.imagePath}}/{{ key }}/ref/{{ image }}" width="30%"/></td>
        <td><img src="{{ app.request.imagePath}}/{{ key }}/comp/{{ image }}" width="30%" /></td>
          </tr>
        {% endfor %}
    {% endfor %}
    </table>
  {% endif %}
</div>

{% include 'footer.twig' %}
