{% include 'head.twig' %}
<div class="contentBox">
  <div class="content">
    {{ app.menu|raw }}

    {{ app.request.content|raw }}
  </div>
  <div class="screens">
    {% if app.request.images is defined %}
      <table class="images">
        {% for key, val  in app.request.images %}
          <tr>
            <th class="headline"
                colspan="3">{{ key }}</th>
          </tr>
          {% for image in val.src %}
            <tr>
              <th class="subline"
                  colspan="3">{{ image }}</th>
            </tr>
            <tr>
              <th class="subline">actual
                <a href="{{ app.request.baseUrl }}/image/delete/src/{{ key }}/{{ image }}/{{ app.request.path }}"
                   data-copy="{{ image }}"
                   class="btn small">delete</a>
                <a href="{{ app.request.baseUrl }}/image/copy/{{ key }}/{{ image }}/{{ app.request.path }}"
                   data-copy="{{ image }}"
                   class="btn small">copy to ref</a>
              </th>
              <th class="subline">ref
                <a href="{{ app.request.baseUrl }}/image/delete/ref/{{ key }}/{{ image }}/{{ app.request.path }}"
                   data-copy="{{ image }}"
                   class="btn small">delete</a>
              </th>
              <th class="subline">compare
                <a href="{{ app.request.baseUrl }}/image/delete/comp/{{ key }}/{{ image }}/{{ app.request.path }}"
                   data-copy="{{ image }}"
                   class="btn small">delete</a>
              </th>
            </tr>
            <tr>
              <td><img src="{{ app.request.imagePath }}/{{ key }}/src/{{ image }}"/></td>
              <td><img src="{{ app.request.imagePath }}/{{ key }}/ref/{{ image }}"/></td>
              <td><img src="{{ app.request.imagePath }}/{{ key }}/comp/{{ image }}"/></td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    {% endif %}
  </div>
  <div class="pulsarbox">
  </div>
  <div class="result">
  </div>
</div>

{% include 'footer.twig' %}
