{% set buildResult = true %}


{% for results in app.result %}

    {% if app.result|length > 1 %}
        <table class="table-bordered">
            <tr>
                <td>Path</td>
                <td>{{ results.path }}</td>
            </tr>
            {% for result in results.run %}
                {% if result.0  != true %}
                    {% set buildResult = false %}
                {% endif %}
                <tr>
                    <td>Command</td>
                    <td>{{ result.2 }}</td>
                    <td>{{ result.1 }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}

        <table class="table-bordered">
            <tr>
                <td>Path</td>
                <td>{{ results.path }}</td>
            </tr>
            {% for result in results.run %}
                {% if result.0  != true %}
                    {% set buildResult = false %}
                {% endif %}
                <tr>
                    <td>Command</td>
                    <td>{{ result.2 }}</td>
                    <td>{{ result.1 }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}

{% if buildResult == true %}
    <p>Build: Successs</p>
{%else%}
   <p>Build: Failed</p>
{% endif %}
