{% set buildResult = true %}

{% set stepk = 0 %}
{% set k = 0 %}
{% set testName = '' %}
{% set testName = app.result.path %}


{% for results in app.result %}


  {% set test = 1 %}
  {% set step = 0 %}
  {% set fail = 0 %}

  {% for result in results %}
    <table class="table-bordered">
      {% set i = 0 %}
      {% for command in result %}
        {% if command.0  != true %}
          {% set buildResult = false %}
          {% set fail = i %}
          {% set style = '#fcc' %}
        {% else %}
          {% set style = '#bfb' %}
        {% endif %}
        <tr style="background-color: {{ style }} ">
          <td>{{ i+1 }}</td>
          <td>Command</td>
          <td>{{ command.2 }}</td>
          <td>{{ command.1 }}</td>
        </tr>
        {% set i=i + 1 %}
      {% endfor %}
      {% set i = 0 %}
    </table>
    {% set test=test + 1 %}
  {% endfor %}

{% endfor %}

    {% if buildResult == true %}
      <p>Build: Success</p>
    {% else %}
      <p>Build: Failed <br/>
      In Test <a href="http://{{ app.request.host }}{{ app.request.baseUrl }}/{{ testName }}">{{ testName }}</a>
    {% endif %}