
{% set buildResult = true %}

{% set stepk = 0 %}
{% set k = 0 %}
  {% set testName = '' %}

{% for results in app.result %}
        <table class="table-bordered">
            <tr>
                <td>Path</td>
                <td> <a href="{{ app.request.baseUrl }}/{{ results.path }}">{{ results.path }}</a> </td>
            </tr>

            {% set i = 0 %}
            {% set step = 0 %}

            {% for result in results.run %}
                {% if result.0  != true %}
                    {% set buildResult = false %}
                    {% set step = i %}
                    {% set style = '#fcc' %}
                    {% set testName = results.path %}

                    {% set stepk = i %}
                    {% set k = i%}
                {% else %}
                    {% set style = '#bfb' %}
                {% endif %}
                <tr style="background-color: {{ style }} ">
                    <td>{{ i+1 }}</td>
                    <td>Command</td>
                    <td>{{ result.2 }}</td>
                    <td>{{ result.1 }}</td>
                </tr>
                {% set i=i + 1%}
            {% endfor %}
        </table>
    {% set k = 0 %}
{% endfor %}

    {% if buildResult == true %}
        <p>Build: Success</p>
    {%else%}
        <p>Build: Failed <br/> In Test <a href="http://{{ app.request.host }}{{ app.request.baseUrl }}/{{ testName }}">{{ testName }}</a> Step {{ stepk+1 }}: {{ app.result[k].run[stepk].2 }} {{ app.result[k].run[stepk].1 }} </p>
    {% endif %}
