{% include 'head.twig' %}
{% include 'headNavi.twig' %}

<div class="contentBox">
  <div class="content">
    <div class="panel panel-default">
      <div class="panel-body">
        <button type="button" class="btn btn-primary">All</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Failed</button>
      </div>
    </div>
    
    <div class="screens">
      {% if app.request.images is defined %}

        {% for key, val  in app.request.images %}
          {% if val.result == 0 %}
            {% set class = 'fail' %}
          {% else %}
            {% set class = 'success' %}
          {% endif %}

          <div class="compare {{ class }}">

            {% for key, image in val.webpath %}
              {% if key == 0 %}
                {% set src = 'src' %}
              {% elseif key == 1 %}
                {% set src = 'ref' %}
              {% else %}
                {% set src = 'comp' %}
              {% endif %}
              <div class="image">
                <a href="{{ image }}">
                  <img src="{{ image }}" onerror="imgError(this);"/></a>
                <span class="ops">
                  <span class="desc">
                    {{ val.imageName }}
                    {% if key == 0 %}
                      <a href="{{ app.request.baseUrl }}/screenshot/{{ val.path }}">
                      <span class="glyphicon glyphicon-link pagelink">
                    </span>
                      </a>
                    {% endif %}
                  </span>
                  {% if key == 0 %}
                    <a class="copyImage"
                       href="{{ app.request.baseUrl }}/image/copy/{{ val.profile }}/{{ val.imageName }}/{{ app.request.path }}">
                    <span class="copy glyphicon glyphicon-ok-sign"
                          data-link="{{ app.request.baseUrl }}/image/copy/{{ val.profile }}/{{ val.imageName }}/{{ app.request.path }}">
                    </span>
                    </a>
                  {% endif %}
                  <a class="deleteImage"
                     href="{{ app.request.baseUrl }}/image/delete/{{ src }}/{{ val.profile }}/{{ val.imageName }}/{{ app.request.path }}">
                    <span class="delete glyphicon glyphicon-remove-sign"
                          data-link="{{ app.request.baseUrl }}/image/delete/{{ src }}/{{ val.profile }}/{{ val.imageName }}/{{ app.request.path }}">
                    </span>
                  </a>
                </span>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  $(document).ready(function () {
    $('.copyImage').click(function (e) {
      e.preventDefault();

      var href = $(this).attr('href');
      modalHandling(href, "Copy Image", '');
    });

    $('.deleteImage').click(function (e) {
      e.preventDefault();
      var href = $(this).attr('href');
      modalHandling(href, "Delete Image", '');
    });

    $("a[data-action='delete']").click(function (e) {
      e.preventDefault();
      var href = $(this).attr('href');
      modalHandling(href, "Delete Page", "/");
    });

    $('.btn-primary').click(function () {
      $('.btn').removeClass('active');
      $(this).addClass('active');
      $('.compare').show();
    });
    $('.btn-success').click(function () {
      $('.btn').removeClass('active');
      $(this).addClass('active');
      $('.compare.success').show();
      $('.compare:not(.success)').hide();
    });
    $('.btn-danger').click(function () {
      $('.btn').removeClass('active');
      $(this).addClass('active');
      $('.compare.fail').show();
      $('.compare:not(.fail)').hide();
    });
  });


  function imgError(image) {
    console.log($(image).parents('div.image').hide());
    image.onerror = "";
    return true;
  }

  function modalHandling(href, modalTitle, ending) {
    $.ajax({
      method: "get",
      url: href
    }).done(function (data) {
      $('.modal-title').empty().append(modalTitle);
      $('.modal-body').empty().append($(data).find('.content'));
      $('#myModal').modal('show');

      $('.backLink').click(function (ev) {
        ev.preventDefault();
        $('#myModal').modal('hide');
      });

      $('.btn-action').click(function (ev) {
        ev.preventDefault();

        $.ajax({
          method: "post",
          url: href + ending
        }).done(function (data) {
          $('.modal-body').empty().append($(data).find('.content'));
        });
      });
    });
  }

</script>


{% include 'footer.twig' %}