{% include 'head.twig' %}
{% include 'headNavi.twig' %}

  {% if app.request.mode == 'edit' %}
    {% if app.request.message  != '' %}
      <div class="alert alert-info" role="alert">{{ app.request.message }}</div>
    {% endif %}

    <form action="#" method="post">
      <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
      </div>
      <div class="form-group">
        {{ form_label(form.displayName) }}
        {{ form_errors(form.displayName) }}
        {{ form_widget(form.displayName) }}
      </div>

      <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
        {{ form_widget(form.password) }}
      </div>
      <input type="submit" name="submit" class="btn  btn-primary"/>
      <a href="{{ app.request.baseUrl }}/user/"
         class="backLink btn">Zurück</a>

    </form>
  {% elseif app.request.mode == 'delete' %}
    {% if app.request.message != '' %}
      <p>{{ app.request.message }}</p>
      <a href="{{ app.request.baseUrl }}/user/"
         class="backLink btn">Zurück</a>
    {% else %}
      <form action=""
            method="POST">
        Are you sure that you want to delete User <b>{{ app.request.displayName }}</b>?
        <br/>
        <br/>
        <input type="submit"
               value="Ja"
               name="delete" class="btn btn-primary btn-action"/>
        <a href="{{ app.request.baseUrl }}/user/" class="backLink btn btn-link">Zurück</a>
      </form>
    {% endif %}
  {% elseif app.request.mode == 'inactivate' %}
    {% if app.request.message != '' %}
      <p>{{ app.request.message }}</p>
      <a href="{{ app.request.baseUrl }}/user/"
         class="backLink btn">Zurück</a>
    {% else %}
      <form action=""
            method="POST">
        Are you sure that you want to inactivate User <b>{{ app.request.displayName }}</b>?
        <br/>
        <br/>
        <input type="submit"
               value="Ja"
               name="delete" class="btn btn-primary btn-action"/>
        <a href="{{ app.request.baseUrl }}/user/" class="backLink btn btn-link">Zurück</a>
      </form>
    {% endif %}
  {% elseif app.request.mode == 'activate' %}
    {% if app.request.message != '' %}
      <p>{{ app.request.message }}</p>
      <a href="{{ app.request.baseUrl }}/user/"
         class="backLink btn">Zurück</a>
    {% else %}

      <form action=""
            method="POST">
        Are you sure that you want to activate User <b>{{ app.request.displayName }}</b>?
        <br/>
        <br/>
        <input type="submit"
               value="Ja"
               name="delete" class="btn btn-primary btn-action"/>
        <a href="{{ app.request.baseUrl }}/user/" class="backLink btn btn-link">Zurück</a>
      </form>

    {% endif %}

  {% endif %}
{% include 'footer.twig' %}